[Unit]
Description=vnStatd-rs network traffic monitor
After=network.target

[Service]
Type=forking
PIDFile=/var/run/vnstatd-rs.pid
User=vnstat
Group=vnstat
WorkingDirectory=/var/lib/vnstat-rs 
ExecStart=/usr/local/bin/vnstatd-rs -d
Restart=always

[Install]
WantedBy=multi-user.target
