[Unit]
Description=vnStatd-rs network traffic monitor
After=network.target

[Service]
Type=simple
User=vnstat
Group=vnstat
WorkingDirectory=/var/lib/vnstat-rs
ExecStart=/usr/local/bin/vnstatd-rs
Restart=always

[Install]
WantedBy=multi-user.target
