[Unit]
Description=vnStatd-rs network traffic monitor (User)
After=network.target

[Service]
Type=simple
WorkingDirectory=%h/.local/share/vnstat-rs
ExecStart=%h/.cargo/bin/vnstatd-rs
Restart=always

[Install]
WantedBy=default.target
