[Unit]
Description=vnStatd-rs network traffic monitor (User)
After=network.target

[Service]
Type=forking
PIDFile=%t/vnstatd-rs.pid
ExecStart=%h/.cargo/bin/vnstatd-rs -d --pidfile %t/vnstatd-rs.pid
Restart=always

[Install]
WantedBy=default.target
